<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programmer Cloud</title>
    <!--CSS-->
    <link rel="stylesheet" href="{% static 'css/cards.css' %}">
</head>
<body>
    <div class="container">
        <!--First Card-->
        <div class="card">
            <div class="card__inner">
                <div class="front face" style="background-image:url(static/images/body.jpg);">
                   <div class="heading">
                    <h2>SUPERIORES</h2>
                   </div>
                   <button class="flip flip-me">Flip me</button>
                <div class="description">
                    <h3>Please click on the button to rotate</h3>
                </div>
                </div>
                <div class="back face" style="background-image:url(static/images/body.jpg);">
                    <div class="heading">
                     <h2>MÚSCULO</h2>
                    </div>
                    <ul>
                    <li>Nome do musculo</li>
                    <li>Nome do musculo</li>
                    <li>Nome do musculo</li>
                    <li>Nome do musculo</li>
                    </ul>
                    <div class="price">
                        <h3>JDC</h3>
                    </div>                  
                    <button class="flip return"><img src="{% static 'images/undo.png' %}" class="undo" alt="return"></button>
                </div>
            </div>
        </div>
<!----------------2nd Card Click------------>

<div class="card">
    <div class="card__inner">
        <div class="front face" style="background-image:url(static/images/body.jpg);">
           <div class="heading">
            <h2>INFERIORES</h2>
           </div>
           <button class="flip flip-me">Flip me</button>
          
        <div class="description">
            <h3>Please click on the button to rotate</h3>
        </div>
        </div>
        <div class="back face" style="background-image:url(static/images/body.jpg);">
            <div class="heading">
             <h2>MÚSCULO</h2>
            </div>
            <ul>
            <li>Nome do musculo</li>
            <li>Nome do musculo</li>
            <li>Nome do musculo</li>
            <li>Nome do musculo</li>
            </ul>
            <div class="price">
                <h3>$1200</h3>
            </div> 
            <button class="flip return"><img src="{% static 'images/undo.png' %}" class="undo" alt="return"></button>
        </div>
    </div>
</div>
        
<!------------------Third Card Hover------------------------->
        
    </div>

<!--Jquery-->  
<script src="{% static 'js/cards1.js' %}"></script>
<!--JS-->    
<script src="{% static 'js/cards2.js' %}"></script>
</body>
</html>