<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.4/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-black h-screen flex flex-col items-center justify-center" >
  <div class="w-full max-w-xs px-6">
    <div class="mb-10 flex flex-col items-center">
      <a href="/"> <img src="{% static 'images/path2.png' %}" class="w-20 h-30"> </a>
    </div>


    <div>
        <style>
            h1{
                color: rgb(241, 227, 227);
                padding-bottom: 30px;
                font-size: 20px;}
                
        
                    
        </style>

        <h1> <span></span></h1>


    </div>
    
    <form action="" method="POST" class="bg-black">
    

      <div class="mb-4">
        <input class="bg-gray-800 text-white border border-gray-600 rounded py-2 px-4 block w-full appearance-none leading-normal" id="input1" type="text" name="username" placeholder="Gramas de carboidratos(g)">
      </div>

      <div class="mb-4">
        <input class="bg-gray-800 text-white border border-gray-600 rounded py-2 px-4 block w-full appearance-none leading-normal" id="input2" type="text" name="username" placeholder="Gramas de proteínas(g)">
      </div>

      <div class="mb-4">
        <input class="bg-gray-800 text-white border border-gray-600 rounded py-2 px-4 block w-full appearance-none leading-normal" id="input3" type="text" name="username" placeholder="Gramas de gordura(g)">
      </div>

      
      
      
      <button type="button" onclick="returnText()" class="bg-green-500 hover:bg-green-600 text-black font-bold py-2 px-4 rounded w-full mb-4">Chamar Jorge</button>
      
      <a href="alimentos">
      <button type="button" onclick="returncal()" class="bg-green-500 hover:bg-green-600 text-black font-bold py-2 px-4 rounded w-full mb-4">Alimentos</button>
      </a>
      
    </form>   

    <script src="{% static 'js/converter.js' %}" defer></script>

    

    <p class="text-center text-gray-500 text-xs mt-4">
      &copy; JDC
    </p>
  </div>
</body>
</html>