<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.4/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-black h-screen flex flex-col items-center justify-center" ">
  <div class="w-full max-w-xs px-6">
    <div class="mb-10 flex flex-col items-center">
      <h1> <span></span></h1>
    </div>


    <div>
        <style>
            h1{
                color: rgb(241, 227, 227);
                padding-bottom: 30px;
                font-size: 20px;}
                
        
                    
        </style>

        <h1> <span></span></h1>


    </div>
    
    <form action="" method="POST" class="bg-black">
    

      <div class="mb-4">
        <input class="bg-gray-800 text-white border border-gray-600 rounded py-2 px-4 block w-full appearance-none leading-normal" id="input1" type="text" name="username" placeholder="Gramas de carboidratos(g)">
      </div>

      <div class="mb-4">
        <input class="bg-gray-800 text-white border border-gray-600 rounded py-2 px-4 block w-full appearance-none leading-normal" id="input2" type="text" name="username" placeholder="Gramas de proteínas(g)">
      </div>

      <div class="mb-4">
        <input class="bg-gray-800 text-white border border-gray-600 rounded py-2 px-4 block w-full appearance-none leading-normal" id="input3" type="text" name="username" placeholder="Gramas de gordura(g)">
      </div>

      
      
      
      <button type="button" onclick="returnText()" class="bg-green-500 hover:bg-green-600 text-black font-bold py-2 px-4 rounded w-full mb-4">Submeter</button>
      
      
      
    </form>




    


    

    <script>

    let words = [""]
    returnText()



    function returnText(){
    let ans1 =  document.getElementById("input1").value;
    let ans2 =  document.getElementById("input2").value;
    let ans3 =  document.getElementById("input3").value;
    

    let res1 = Number(ans1)
    let res2 = Number(ans2)
    let res3 = Number(ans3)
   
    
    
    if (res1 != 0 ){
        var result = Math.trunc(res1*4 + res2*4 + res3*9)
        words.push("Olá!!, em 100g do seu alimento, estão concentradas " + result.toString() +"kcal")
    }

    
    
    }


      const dynamicText = document.querySelector("h1 span")
        
        // Variables to track the position and deletion status of the word
        let wordIndex = 0;
        let charIndex = 0;
        let isDeleting = false;
        
        const typeEffect = () => {
            const currentWord = words[wordIndex];
            const currentChar = currentWord.substring(0, charIndex);
            dynamicText.textContent = currentChar;
            dynamicText.classList.add("stop-blinking");
        
            if (!isDeleting && charIndex < currentWord.length) {
                // If condition is true, type the next character
                charIndex++;
                setTimeout(typeEffect, 50);
            } else if (isDeleting && charIndex > 0) {
                // If condition is true, remove the previous character
                charIndex--;
                setTimeout(typeEffect, 80000);
            } else {
                // If word is deleted then switch to the next word
                isDeleting = !isDeleting;
                dynamicText.classList.remove("stop-blinking");
                wordIndex = !isDeleting ? (wordIndex + 1) % words.length : wordIndex;
                setTimeout(typeEffect, 100);
            }
        }
        
        typeEffect();

    </script>

    

    <p class="text-center text-gray-500 text-xs mt-4">
      &copy; JDC
    </p>
  </div>
</body>
</html>