<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekly Diet Plan</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #1e1e3e;
        }

        .container {
            max-width: 1200px;
            margin: 20px auto;
            padding: 10px;
        }

        h1 {
            text-align: center;
            color: #3394da;
        }

        .day-card {
            background: #23919d;
            margin: 10px;
            padding: 20px;
            border-color: rgb(12, 223, 223);
            border-width: 30px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .day-card:hover {
            transform: scale(1.05);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        }

        .day-header {
            font-size: 1.5em;
            color: #7fe1f3;
            margin-bottom: 10px;
        }

        .meals {
            list-style-type: none;
            padding: 0;
        }

        .meals li {
            margin: 8px 0;
            color: #a3b8e5;
            font-size: 19px;
            font-weight: 500;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        .day-card:nth-child(odd) {
            background-color: #18324f;
        }

        .day-card:nth-child(even) {
            background-color: #38324f;
        }
    </style>
</head>
<body>


    {% for food in foods %}  
    <div class="container">
        <div style="height: 100px;"></div>
        <h1>Dieta da semana</h1>
        <div style="height: 70px;"></div>
        <div>
            <h1 style="font-size: 22px; max-width:360px;"><span></span></h1>
        </div>
        <div class="days">
            <div class="day-card">
                <div class="day-header">Segunda</div>
                <ul class="meals">
                    <li><span style="color: rgb(208, 153, 230);">Pequeno almoço</span>: {{ food.peqno_almoço }}</li>
                    <li><span style="color: rgb(208, 153, 230);">Almoço</span>: {{ food.almoço }}</li>
                    <li><span style="color: rgb(208, 153, 230);">Lanche</span>: {{ food.lanche }}</li>
                    <li><span style="color: rgb(208, 153, 230);">Jantar</span>: {{ food.jantar }}</li>
                </ul>
            </div>
            <div class="day-card">
                <div class="day-header">Terça</div>
                <ul class="meals">
                    <li><span style="color: rgb(208, 153, 230);">Pequeno almoço</span>: {{ food.peqno_almoço1 }}</li>
                    <li><span style="color: rgb(208, 153, 230);">Almoço</span>: {{ food.almoço1 }}</li>
                    <li><span style="color: rgb(208, 153, 230);">Lanche</span>: {{ food.lanche1 }}</li>
                    <li><span style="color: rgb(208, 153, 230);">Jantar</span>: {{ food.jantar1 }}</li>
                </ul>
            </div>
            <div class="day-card">
                <div class="day-header">Quarta</div>
                <ul class="meals">
                    <li><span style="color: rgb(208, 153, 230);">Pequeno almoço</span>: {{ food.peqno_almoço2 }}</li>
                    <li><span style="color: rgb(208, 153, 230);">Almoço</span>: {{ food.almoço2 }}</li>
                    <li><span style="color: rgb(208, 153, 230);">Lanche</span>: {{ food.lanche2 }}</li>
                    <li><span style="color: rgb(208, 153, 230);">Jantar</span>: {{ food.jantar2 }}</li>
                </ul>
            </div>
            <div class="day-card">
                <div class="day-header">Quinta</div>
                <ul class="meals">
                    <li><span style="color: rgb(208, 153, 230);">Pequeno almoço</span>: {{ food.peqno_almoço3 }}</li>
                    <li><span style="color: rgb(208, 153, 230);">Almoço</span>: {{ food.almoço3 }}</li>
                    <li><span style="color: rgb(208, 153, 230);">Lanche</span>: {{ food.lanche3 }}</li>
                    <li><span style="color: rgb(208, 153, 230);">Jantar</span>: {{ food.jantar3 }}</li>
                </ul>
            </div>
            <div class="day-card">
                <div class="day-header">Sexta</div>
                <ul class="meals">
                    <li><span style="color: rgb(208, 153, 230);">Pequeno almoço</span>: {{ food.peqno_almoço4 }}</li>
                    <li><span style="color: rgb(208, 153, 230);">Almoço</span>: {{ food.almoço4 }}</li>
                    <li><span style="color: rgb(208, 153, 230);">Lanche</span>: {{ food.lanche4 }}</li>
                    <li><span style="color: rgb(208, 153, 230);">Jantar</span>: {{ food.jantar4 }}</li>
                </ul>
            </div>
            <div class="day-card">
                <div class="day-header">Sábado</div>
                <ul class="meals">
                    <li><span style="color: rgb(208, 153, 230);">Pequeno almoço</span>: {{ food.peqno_almoço5 }}</li>
                    <li><span style="color: rgb(208, 153, 230);">Almoço</span>: {{ food.almoço5 }}</li>
                    <li><span style="color: rgb(208, 153, 230);">Lanche</span>: {{ food.lanche5 }}</li>
                    <li><span style="color: rgb(208, 153, 230);">Jantar</span>: {{ food.jantar5 }}</li>
                </ul>
            </div>
            <div class="day-card">
                <div class="day-header">Domingo</div>
                <ul class="meals">
                    <li><span style="color: rgb(208, 153, 230);">Pequeno almoço</span>: {{ food.peqno_almoço6 }}</li>
                    <li><span style="color: rgb(208, 153, 230);">Almoço</span>: {{ food.almoço6 }}</li>
                    <li><span style="color: rgb(208, 153, 230);">Lanche</span>: {{ food.lanche6 }}</li>
                    <li id="my-div" data-jantar="{{ food.jantar }}" data-almoco="{{ food.almoço6 }}" > <span style="color: rgb(208, 153, 230);">Jantar</span>: {{ food.jantar6 }}</li>
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}

    
        {% for data in datas %}
        <h1 id="genero" data-idade="{{ data.Idade }}"
        data-genero="{{ data.Género }}"
        data-trabalho="{{ data.Trabalho }}"
        data-horas="{{ data.Horas_de_Trabalho }}"
        data-actividade="{{ data.Prt_actividade_fis }}"
        data-peso="{{ data.Peso }}"
        data-objectivo="{{ data.Objectivo }}"
        ></h1>
        {% endfor %}

   

    <script>

    const myDiv = document.getElementById("genero");

    let ans1 =  myDiv.dataset.idade ;
    let ans2 =  myDiv.dataset.genero ;
    let ans3 =  myDiv.dataset.trabalho ;
    let ans4 =  myDiv.dataset.horas ;
    let ans5 =  myDiv.dataset.actividade ;
    let ans6 =  myDiv.dataset.peso ;
    let ans7 =  myDiv.dataset.objectivo ;
    let res1 = Number(ans1)
    let res4 = Number(ans4)
    let res6 = Number(ans6)
    
    let words = [""]
    returnCalories()



    function returnCalories(){
        
        //Calories burned daily
        // 18 - 30  (Mulher activa)
    
        //Manter o peso
        if (((res1 > 18) && (res1 < 30)) && (ans2 == "feminino" || ans2 == "Feminino") && 
            (ans3 =="sentado" || ans3 == "Sentado" || ans3 == "Sentada" || ans3 == "sentada") && 
            (res4 < 12) && (ans5== "sim" || ans5== "Sim") &&
            (ans7== "manter" || ans7 == "Manter")){
            
            var result = Math.trunc((((14.818*res6)+486.6)*1.84))
            words.push("Você gasta em média " + result.toString() +
            "kcal por dia.Para manter o seu peso consuma a mesma quantidade calórica que gasta")
           
        }
        //Ganhar o peso
        if (((res1 > 18) && (res1 < 30)) && (ans2 == "feminino" || ans2 == "Feminino") && 
            (ans3 =="sentado" || ans3 == "Sentado" || ans3 == "Sentada" || ans3 == "sentada") && 
            (res4 < 12) && (ans5== "sim" || ans5== "Sim") &&
            (ans7== "Ganhar" || ans7 == "ganhar")){
            
            var result = Math.trunc((((14.818*res6)+486.6)*1.84))
            var  result1 = result+500
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para ganhar peso, distribua pelo menos " + result1.toString() + " calorias na sua alimentação")
        }
        //Perder o peso
        if (((res1 > 18) && (res1 < 30)) && (ans2 == "feminino" || ans2 == "Feminino") && 
            (ans3 =="sentado" || ans3 == "Sentado" || ans3 == "Sentada" || ans3 == "sentada") && 
            (res4 < 12) && (ans5== "sim" || ans5== "Sim") &&
            (ans7== "Perder" || ans7 == "perder")){
            
            var result = Math.trunc((((14.818*res6)+486.6)*1.84))
            var result1 = result-500
            words.push("Você gasta em média " + result.toString() + "kcal por dia. Para perder peso consuma em média " +
            result1.toString() + "kcal por dia")
        }
    
    
    
        //Manter o peso
        if (((res1 > 18) && (res1 < 30)) && (ans2 == "feminino" || ans2 == "Feminino") && 
            (ans3 =="sentado" || ans3 == "Sentado" || ans3 == "Sentada" || ans3 == "sentada") && 
            (res4 < 12) && (ans5== "nao" || ans5== "Nao" || ans5== "Não" || ans5== "não") &&
            (ans7== "manter" || ans7 == "Manter")){
                
            var result = Math.trunc((((14.818*res6)+486.6)*1.55))
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para manter o seu peso consuma a mesma quantidade calórica que gasta")
        }
        //Ganhar Peso
        if (((res1 > 18) && (res1 < 30)) && (ans2 == "feminino" || ans2 == "Feminino") && 
            (ans3 =="sentado" || ans3 == "Sentado" || ans3 == "Sentada" || ans3 == "sentada") && 
            (res4 < 12) && (ans5== "nao" || ans5== "Nao" || ans5== "Não" || ans5== "não") &&
            (ans7== "Ganhar" || ans7 == "ganhar")){
    
                
            var result = Math.trunc((((14.818*res6)+486.6)*1.55))
            var  result1 = result+500
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para ganhar peso, distribua pelo menos " + result1.toString() + "kcal na sua alimentação")
            
        }
        //Perder Peso
        if (((res1 > 18) && (res1 < 30)) && (ans2 == "feminino" || ans2 == "Feminino") && 
            (ans3 =="sentado" || ans3 == "Sentado" || ans3 == "Sentada" || ans3 == "sentada") && 
            (res4 < 12) && (ans5== "nao" || ans5== "Nao" || ans5== "Não" || ans5== "não") &&
            (ans7== "Perder" || ans7 == "perder")){
     
            var result = Math.trunc((((14.818*res6)+486.6)*1.55))
            var  result1 = result-500
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para perder peso consuma em média " + result1.toString() + "kcal por dia")
        }
    
    
    
        // Manter o peso
        if (((res1 > 18) && (res1 < 30)) && (ans2 == "feminino" || ans2 == "Feminino") && 
            (ans3 =="fisico" || ans3 == "Fisico" || ans3 == "Físico" || ans3 == "físico") && 
            (res4 < 12) && (ans5== "sim" || ans5== "Sim") &&
            (ans7== "manter" || ans7 == "Manter") ){
            
            var result = Math.trunc((((14.818*res6)+486.6)*2.2))
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para manter o seu peso consuma a mesma quantidade calórica que gasta")
        }
        //Ganhar peso
        if (((res1 > 18) && (res1 < 30)) && (ans2 == "feminino" || ans2 == "Feminino") && 
            (ans3 =="fisico" || ans3 == "Fisico" || ans3 == "Físico" || ans3 == "físico") && 
            (res4 < 12) && (ans5== "sim" || ans5== "Sim") &&
            (ans7== "Ganhar" || ans7 == "ganhar") ){
            
            var result = Math.trunc((((14.818*res6)+486.6)*2.2))
            var  result1 = result+500
            words.push("Você gasta em média " + result.toString() +
            "kcal por dia. Para ganhar peso, distribua pelo menos " + result1.toString() + " calorias na sua alimentação")
        }
        //Perder peso
        if (((res1 > 18) && (res1 < 30)) && (ans2 == "feminino" || ans2 == "Feminino") && 
            (ans3 =="fisico" || ans3 == "Fisico" || ans3 == "Físico" || ans3 == "físico") && 
            (res4 < 12) && (ans5== "sim" || ans5== "Sim") &&
            (ans7== "Perder" || ans7 == "perder") ){
            
            var result = Math.trunc((((14.818*res6)+486.6)*2.2))
            var  result1 = result+500
            words.push("Você gasta em média " + result.toString() +
            "kcal por dia. Para ganhar peso, distribua pelo menos " + result1.toString() + " calorias na sua alimentação")
        }
    
    
    
    
    
    
        //Manter peso
        if (((res1 > 18) && (res1 < 30)) && (ans2 == "feminino" || ans2 == "Feminino") && 
            (ans3 =="fisico" || ans3 == "Fisico" || ans3 == "Físico" || ans3 == "físico") && 
            (res4 < 12) && (ans5== "nao" || ans5== "Nao" || ans5== "Não" || ans5== "não")&&
            (ans7== "Manter" || ans7 == "manter")){
    
            var result = Math.trunc((((14.818*res6)+486.6)*1.9))
            var result1 = result+500
            words.push("Você gasta em média " + result.toString() +
            "kcal por dia. Para ganhar peso, distribua pelo menos " + result1.toString() + " calorias na sua alimentação")
        }
        //Ganhar peso
        if (((res1 > 18) && (res1 < 30)) && (ans2 == "feminino" || ans2 == "Feminino") && 
            (ans3 =="fisico" || ans3 == "Fisico" || ans3 == "Físico" || ans3 == "físico") && 
            (res4 < 12) && (ans5== "nao" || ans5== "Nao" || ans5== "Não" || ans5== "não")&&
            (ans7== "Ganhar" || ans7 == "ganhar")){
    
            var result = Math.trunc((((14.818*res6)+486.6)*1.9))
            var  result1 = result+500
            words.push("Você gasta em média " + result.toString() +
            "kcal por dia. Para ganhar peso, distribua pelo menos " + result1.toString() + " calorias na sua alimentação")
        }
        //  Perder Peso
        if (((res1 > 18) && (res1 < 30)) && (ans2 == "feminino" || ans2 == "Feminino") && 
            (ans3 =="fisico" || ans3 == "Fisico" || ans3 == "Físico" || ans3 == "físico") && 
            (res4 < 12) && (ans5== "nao" || ans5== "Nao" || ans5== "Não" || ans5== "não")&&
            (ans7== "Perder" || ans7 == "perder")){
    
            var result = Math.trunc((((14.818*res6)+486.6)*1.9))
            var  result1 = result-500
            words.push("Você gasta em média " + result.toString() +
            "kcal por dia. Para perder peso consuma em média " + result1.toString() + "kcal por dia")
        }
    
    
    
        //Mulher com idade 30-60
    
    
        // Manter o peso
        if (((res1 > 30) && (res1 < 60)) && (ans2 == "feminino" || ans2 == "Feminino") && 
            (ans3 =="sentado" || ans3 == "Sentado" || ans3 == "Sentada" || ans3 == "sentada") && 
            (res4 < 12) && (ans5== "sim" || ans5== "Sim") &&
            (ans7== "manter" || ans7 == "Manter")){
            
            var result = Math.trunc((((8.126*res6)+845.6)*1.84))
            words.push("Você gasta em média " + result.toString() +
            "kcal por dia. Para manter o seu peso consuma a mesma quantidade calórica que gasta")
        }
        // Ganhar peso
        if (((res1 > 30) && (res1 < 60)) && (ans2 == "feminino" || ans2 == "Feminino") && 
            (ans3 =="sentado" || ans3 == "Sentado" || ans3 == "Sentada" || ans3 == "sentada") && 
            (res4 < 12) && (ans5== "sim" || ans5== "Sim") &&
            (ans7== "Ganhar" || ans7 == "ganhar")){
        
            var result = Math.trunc((((8.126*res6)+845.6)*1.84))
            var  result1 = result+500
            words.push("Você gasta em média " + result.toString() +
            "kcal por dia. Para ganhar peso, distribua pelo menos " + result1.toString() + "kcal na sua alimentação")
            words.push("Para ganhar peso, distribua pelo menos " + result1.toString() + "kcal na sua alimentação")
       }
       // Perder peso
       if (((res1 > 30) && (res1 < 60)) && (ans2 == "feminino" || ans2 == "Feminino") && 
            (ans3 =="sentado" || ans3 == "Sentado" || ans3 == "Sentada" || ans3 == "sentada") && 
            (res4 < 12) && (ans5== "sim" || ans5== "Sim") &&
            (ans7== "perder" || ans7 == "Perder")){
        
            var result = Math.trunc((((8.126*res6)+845.6)*1.84))
            var  result1 = result-500
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para perder peso consuma em média " + result1.toString() + "kcal por dia")
       }
    
    
    
        // Manter o perso 
        if (((res1 > 30) && (res1 < 60)) && (ans2 == "feminino" || ans2 == "Feminino") && 
            (ans3 =="sentado" || ans3 == "Sentado" || ans3 == "Sentada" || ans3 == "sentada") && 
            (res4 < 12) && (ans5== "nao" || ans5== "Nao" || ans5== "Não" || ans5== "não")&&
            (ans7== "manter" || ans7 == "Manter")){
    
            var result = Math.trunc((((8.126*res6)+845.6)*1.55))
            words.push("Você gasta em média " + result.toString() +
            "kcal por dia. Para manter o seu peso consuma a mesma quantidade calórica que gasta")
        }
        // Ganhar peso
        if (((res1 > 30) && (res1 < 60)) && (ans2 == "feminino" || ans2 == "Feminino") && 
            (ans3 =="sentado" || ans3 == "Sentado" || ans3 == "Sentada" || ans3 == "sentada") && 
            (res4 < 12) && (ans5== "nao" || ans5== "Nao" || ans5== "Não" || ans5== "não")&&
            (ans7== "ganhar" || ans7 == "Ganhar")){
    
            var result = Math.trunc((((8.126*res6)+845.6)*1.55))
            var  result1 = result+500
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para ganhar peso, distribua pelo menos " + result1.toString() + "kcal na sua alimentação")
            }
        // Perder peso
        if (((res1 > 30) && (res1 < 60)) && (ans2 == "feminino" || ans2 == "Feminino") && 
            (ans3 =="sentado" || ans3 == "Sentado" || ans3 == "Sentada" || ans3 == "sentada") && 
            (res4 < 12) && (ans5== "nao" || ans5== "Nao" || ans5== "Não" || ans5== "não")&&
            (ans7== "perder" || ans7 == "Perder")){
    
            var result = Math.trunc((((8.126*res6)+845.6)*1.55))
            var  result1 = result-500
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para perder peso consuma em média " + result1.toString() + "kcal por dia")
        }
    
    
    
        // Manter peso
        if (((res1 > 30) && (res1 < 60)) && (ans2 == "feminino" || ans2 == "Feminino") && 
            (ans3 =="fisico" || ans3 == "Fisico" || ans3 == "Físico" || ans3 == "físico") && 
            (res4 < 12) && (ans5== "sim" || ans5== "Sim")&&
            (ans7== "Manter" || ans7 == "manter")){
    
            var result = Math.trunc((((8.126*res6)+845.6)*2.2))
            words.push("Você gasta em média " + result.toString() + 
            " calorias por dia. Para manter o seu peso consuma a mesma quantidade calórica que gasta")
        }
        //Ganhar peso
        if (((res1 > 30) && (res1 < 60)) && (ans2 == "feminino" || ans2 == "Feminino") && 
            (ans3 =="fisico" || ans3 == "Fisico" || ans3 == "Físico" || ans3 == "físico") && 
            (res4 < 12) && (ans5== "sim" || ans5== "Sim")&&
            (ans7== "Ganhar" || ans7 == "ganhar")){
    
            var result = Math.trunc((((8.126*res6)+845.6)*2.2))
            var  result1 = result+500
            words.push("Você gasta em média " + result.toString() +
            "kcal por dia. Para ganhar peso, distribua pelo menos " + result1.toString() + " calorias na sua alimentação")
        }
        //Perder peso
        if (((res1 > 30) && (res1 < 60)) && (ans2 == "feminino" || ans2 == "Feminino") && 
        (ans3 =="fisico" || ans3 == "Fisico" || ans3 == "Físico" || ans3 == "físico") && 
        (res4 < 12) && (ans5== "sim" || ans5== "Sim")&&
        (ans7== "Perder" || ans7 == "perder")){
    
        var result = Math.trunc((((8.126*res6)+845.6)*2.2))
        var  result1 = result-500
        words.push("Você gasta em média " + result.toString() + 
        "kcal por dia. Para perder peso consuma em média " + result1.toString() + "kcal por dia")
    }
    
    
        // Manter peso 
        if (((res1 > 30) && (res1 < 60)) && (ans2 == "feminino" || ans2 == "Feminino") && 
            (ans3 =="fisico" || ans3 == "Fisico" || ans3 == "Físico" || ans3 == "físico") && 
            (res4 < 12) && (ans5== "nao" || ans5== "Nao" || ans5== "Não" || ans5== "não")&&
            (ans7== "Manter" || ans7 == "manter")){
    
    
            var result = Math.trunc((((8.126*res6)+845.6)*1.9))
            words.push("Você gasta em média " + result.toString() + 
            " calorias por dia. Para manter o seu peso consuma a mesma quantidade calórica que gasta")
        }
        //Ganhar peso
        if (((res1 > 30) && (res1 < 60)) && (ans2 == "feminino" || ans2 == "Feminino") && 
            (ans3 =="fisico" || ans3 == "Fisico" || ans3 == "Físico" || ans3 == "físico") && 
            (res4 < 12) && (ans5== "nao" || ans5== "Nao" || ans5== "Não" || ans5== "não")&&
            (ans7== "Ganhar" || ans7 == "ganhar")){
    
    
            var result = Math.trunc((((8.126*res6)+845.6)*1.9))
            var  result1 = result+500
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para ganhar peso, distribua pelo menos " + result1.toString() + "kcal na sua alimentação")
        }
        //Perder peso
        if (((res1 > 30) && (res1 < 60)) && (ans2 == "feminino" || ans2 == "Feminino") && 
            (ans3 =="fisico" || ans3 == "Fisico" || ans3 == "Físico" || ans3 == "físico") && 
            (res4 < 12) && (ans5== "nao" || ans5== "Nao" || ans5== "Não" || ans5== "não")&&
            (ans7== "Perder" || ans7 == "perder")){
    
    
            var result = Math.trunc((((8.126*res6)+845.6)*1.9))
            var  result1 = result-500
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para perder peso consuma em média " + result1.toString() + "kcal por dia")
        }
    
    
        // Mulheres a cima dos 60
    
        //Manter o peso
        if (((res1 >= 60)) && (ans2 == "feminino" || ans2 == "Feminino") && 
            (ans3 =="sentado" || ans3 == "Sentado" || ans3 == "Sentada" || ans3 == "sentada") && 
            (res4 < 12) && (ans5== "sim" || ans5== "Sim")&&
            (ans7== "Manter" || ans7 == "manter")){
            
            var result = Math.trunc((((9.082*res6)+658.5)*1.84))
            words.push("Você gasta em média " + result.toString() +
            " calorias por dia. Para manter o seu peso consuma a mesma quantidade calórica que gasta")
        }
        // Ganhar peso
        if (((res1 >= 60)) && (ans2 == "feminino" || ans2 == "Feminino") && 
            (ans3 =="sentado" || ans3 == "Sentado" || ans3 == "Sentada" || ans3 == "sentada") && 
            (res4 < 12) && (ans5== "sim" || ans5== "Sim")&&
            (ans7== "Ganhar" || ans7 == "ganhar")){
            
            var result = Math.trunc((((9.082*res6)+658.5)*1.84))
            var  result1 = result+500
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para ganhar peso, distribua pelo menos " + result1.toString() + "kcal na sua alimentação")
        }
        // Perder peso
        if (((res1 >= 60)) && (ans2 == "feminino" || ans2 == "Feminino") && 
            (ans3 =="sentado" || ans3 == "Sentado" || ans3 == "Sentada" || ans3 == "sentada") && 
            (res4 < 12) && (ans5== "sim" || ans5== "Sim")&&
            (ans7== "Perder" || ans7 == "perder")){
         
            var result = Math.trunc((((9.082*res6)+658.5)*1.84))
            var  result1 = result-500
            words.push("Você gasta em média " + result.toString() +
            "kcal por dia. Para perder peso consuma em média " + result1.toString() + "kcal por dia")
        }
    
        
        // Manter o peso
        if (((res1 >= 60)) && (ans2 == "feminino" || ans2 == "Feminino") && 
            (ans3 =="sentado" || ans3 == "Sentado" || ans3 == "Sentada" || ans3 == "sentada") && 
            (res4 < 12) && (ans5== "nao" || ans5== "Nao" || ans5== "Não" || ans5== "não")&&
            (ans7== "Manter" || ans7 == "manter")){
    
            var result = Math.trunc((((9.082*res6)+658.5)*1.55))
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para manter o seu peso consuma a mesma quantidade calórica que gasta")
        }
        // Ganhar o peso
        if (((res1 >= 60)) && (ans2 == "feminino" || ans2 == "Feminino") && 
            (ans3 =="sentado" || ans3 == "Sentado" || ans3 == "Sentada" || ans3 == "sentada") && 
            (res4 < 12) && (ans5== "nao" || ans5== "Nao" || ans5== "Não" || ans5== "não")&&
            (ans7== "Ganhar" || ans7 == "ganhar")){
    
            var result = Math.trunc((((9.082*res6)+658.5)*1.55))
            var  result1 = result+500
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para ganhar peso, distribua pelo menos " + result1.toString() + "kcal na sua alimentação")
        }
        // Perder  o peso
        if (((res1 >= 60)) && (ans2 == "feminino" || ans2 == "Feminino") && 
            (ans3 =="sentado" || ans3 == "Sentado" || ans3 == "Sentada" || ans3 == "sentada") && 
            (res4 < 12) && (ans5== "nao" || ans5== "Nao" || ans5== "Não" || ans5== "não")&&
            (ans7== "Perder" || ans7 == "perder")){
    
            var result = Math.trunc((((9.082*res6)+658.5)*1.55))
            var  result1 = result-500
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para perder peso consuma em média " + result1.toString() + "kcal por dia")
            }
    
    
        // Manter peso
        if (((res1 >= 60)) && (ans2 == "feminino" || ans2 == "Feminino") && 
            (ans3 =="fisico" || ans3 == "Fisico" || ans3 == "Físico" || ans3 == "físico") && 
            (res4 < 12) && (ans5== "sim" || ans5== "Sim")&&
            (ans7== "Manter" || ans7 == "manter")){
    
            var result = Math.trunc((((9.082*res6)+658.5)*2.2))
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para manter o seu peso consuma a mesma quantidade calórica que gasta")
        }
        // Ganahr peso
        if (((res1 >= 60)) && (ans2 == "feminino" || ans2 == "Feminino") && 
            (ans3 =="fisico" || ans3 == "Fisico" || ans3 == "Físico" || ans3 == "físico") && 
            (res4 < 12) && (ans5== "sim" || ans5== "Sim")&&
            (ans7== "Ganhar" || ans7 == "ganhar")){
    
            var result = Math.trunc((((9.082*res6)+658.5)*2.2))
            var  result1 = result+500
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para ganhar peso, distribua pelo menos " + result1.toString() + "kcal na sua alimentação")
        }
        // Perder peso
        if (((res1 >= 60)) && (ans2 == "feminino" || ans2 == "Feminino") && 
            (ans3 =="fisico" || ans3 == "Fisico" || ans3 == "Físico" || ans3 == "físico") && 
            (res4 < 12) && (ans5== "sim" || ans5== "Sim")&&
            (ans7== "Perder" || ans7 == "perder")){
    
            var result = Math.trunc((((9.082*res6)+658.5)*2.2))
            var  result1 = result-500
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para perder peso consuma em média " + result1.toString() + "kcal por dia")
        }
    
    
        // Manter o peso
        if (((res1 >= 60)) && (ans2 == "feminino" || ans2 == "Feminino") && 
            (ans3 =="fisico" || ans3 == "Fisico" || ans3 == "Físico" || ans3 == "físico") && 
            (res4 < 12) && (ans5== "nao" || ans5== "Nao" || ans5== "Não" || ans5== "não")&&
            (ans7== "Manter" || ans7 == "manter")){
    
            var result = Math.trunc((((9.082*res6)+658.5)*1.86))
            words.push("Você gasta em média " + result.toString() +
            "kcal por dia. Para manter o seu peso consuma a mesma quantidade calórica que gasta")
        }
        // Ganhar o peso
        if (((res1 >= 60)) && (ans2 == "feminino" || ans2 == "Feminino") && 
            (ans3 =="fisico" || ans3 == "Fisico" || ans3 == "Físico" || ans3 == "físico") && 
            (res4 < 12) && (ans5== "nao" || ans5== "Nao" || ans5== "Não" || ans5== "não")&&
            (ans7== "Ganhar" || ans7 == "ganhar")){
    
            var result = Math.trunc((((9.082*res6)+658.5)*1.86))
            var  result1 = result+500
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para ganhar peso, distribua pelo menos " + result1.toString() + "kcal na sua alimentação")
       }
        // Perder o peso
        if (((res1 >= 60)) && (ans2 == "feminino" || ans2 == "Feminino") && 
            (ans3 =="fisico" || ans3 == "Fisico" || ans3 == "Físico" || ans3 == "físico") && 
            (res4 < 12) && (ans5== "nao" || ans5== "Nao" || ans5== "Não" || ans5== "não")&&
            (ans7== "Ganhar" || ans7 == "ganhar")){
    
            var result = Math.trunc((((9.082*res6)+658.5)*1.86))
            var  result1 = result-500
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para perder peso consuma em média " + result1.toString() + "kcal por dia")
       }
    
    
    
    
        // Homens entre 18-30
    
        //Manter o peso
        if (((res1 > 18) && (res1 < 30)) && (ans2 == "masculino" || ans2 == "Masculino") && 
            (ans3 =="sentado" || ans3 == "Sentado" || ans3 == "Sentada" || ans3 == "sentada") && 
            (res4 < 12) && (ans5== "sim" || ans5== "Sim") &&
            (ans7== "manter" || ans7 == "Manter")){
            
            var result = Math.trunc((((15.1*res6)+692.2)*1.84))
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para manter o seu peso consuma a mesma quantidade calórica que gasta")
        }
        //Ganhar o peso
        if (((res1 > 18) && (res1 < 30)) && (ans2 == "masculino" || ans2 == "Masculino") && 
            (ans3 =="sentado" || ans3 == "Sentado" || ans3 == "Sentada" || ans3 == "sentada") && 
            (res4 < 12) && (ans5== "sim" || ans5== "Sim") &&
            (ans7== "Ganhar" || ans7 == "ganhar")){
            
            var result = Math.trunc((((15.1*res6)+692.2)*1.84))
            var  result1 = result+500
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para ganhar peso, distribua pelo menos " + result1.toString() + " calorias na sua alimentação")
        }
        //Perder o peso
        if (((res1 > 18) && (res1 < 30)) && (ans2 == "masculino" || ans2 == "Masculino") && 
            (ans3 =="sentado" || ans3 == "Sentado" || ans3 == "Sentada" || ans3 == "sentada") && 
            (res4 < 12) && (ans5== "sim" || ans5== "Sim") &&
            (ans7== "Perder" || ans7 == "perder")){
            
            var result = Math.trunc((((15.1*res6)+692.2)*1.84))
            var result1 = result-500
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para perder peso consuma em média " + result1.toString() + "kcal por dia")
        }
    
    
    
    
    
       
        //Manter o peso
        if (((res1 > 18) && (res1 < 30)) && (ans2 == "masculino" || ans2 == "Masculino") && 
            (ans3 =="sentado" || ans3 == "Sentado" || ans3 == "Sentada" || ans3 == "sentada") && 
            (res4 < 12) && (ans5== "nao" || ans5== "Nao" || ans5== "Não" || ans5== "não") &&
            (ans7== "manter" || ans7 == "Manter")){
                
            var result = Math.trunc((((15.1*res6)+692.2)*1.55))
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para manter o seu peso consuma a mesma quantidade calórica que gasta")
        }
        //Ganhar Peso
        if (((res1 > 18) && (res1 < 30)) && (ans2 == "masculino" || ans2 == "Masculino") && 
            (ans3 =="sentado" || ans3 == "Sentado" || ans3 == "Sentada" || ans3 == "sentada") && 
            (res4 < 12) && (ans5== "nao" || ans5== "Nao" || ans5== "Não" || ans5== "não") &&
            (ans7== "Ganhar" || ans7 == "ganhar")){
    
                
            var result = Math.trunc((((15.1*res6)+692.2)*1.55))
            var  result1 = result+500
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para ganhar peso, distribua pelo menos " + result1.toString() + " calorias na sua alimentação")
        }
        //Perder Peso
        if (((res1 > 18) && (res1 < 30)) && (ans2 == "masculino" || ans2 == "Masculino") && 
            (ans3 =="sentado" || ans3 == "Sentado" || ans3 == "Sentada" || ans3 == "sentada") && 
            (res4 < 12) && (ans5== "nao" || ans5== "Nao" || ans5== "Não" || ans5== "não") &&
            (ans7== "Perder" || ans7 == "perder")){
     
            var result = Math.trunc((((15.1*res6)+692.2)*1.55))
            var  result1 = result-500
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para perder peso consuma em média " + result1.toString() + "kcal por dia")
        }
    
    
    
        
        // Manter peso
        if (((res1 > 18) && (res1 < 30)) && (ans2 == "masculino" || ans2 == "Masculino") && 
            (ans3 =="fisico" || ans3 == "Fisico" || ans3 == "Físico" || ans3 == "físico") && 
            (res4 < 12) && (ans5== "sim" || ans5== "Sim")&&
            (ans7== "Manter" || ans7 == "manter")){
    
            var result = Math.trunc((((15.1*res6)+692.2)*2.2))
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para manter o seu peso consuma a mesma quantidade calórica que gasta")
        }
        //Ganhar peso
        if (((res1 > 18) && (res1 < 30)) && (ans2 == "masculino" || ans2 == "Masculino") && 
            (ans3 =="fisico" || ans3 == "Fisico" || ans3 == "Físico" || ans3 == "físico") && 
            (res4 < 12) && (ans5== "sim" || ans5== "Sim")&&
            (ans7== "Ganhar" || ans7 == "ganhar")){
    
            var result = Math.trunc((((15.1*res6)+692.2)*2.2))
            var  result1 = result+500
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para ganhar peso, distribua pelo menos " + result1.toString() + "kcal na sua alimentação")
        }
        //Perder peso
        if (((res1 > 18) && (res1 < 30)) && (ans2 == "masculino" || ans2 == "Masculino") && 
            (ans3 =="fisico" || ans3 == "Fisico" || ans3 == "Físico" || ans3 == "físico") && 
            (res4 < 12) && (ans5== "sim" || ans5== "Sim")&&
            (ans7== "Perder" || ans7 == "perder")){
    
        var result = Math.trunc((((15.1*res6)+692.2)*2.2))
        var  result1 = result-500
        words.push("Você gasta em média " + result.toString() + 
        "kcal por dia. Para perder peso consuma em média " + result1.toString() + "kcal por dia")
       }
    
    
     // Manter peso 
        if (((res1 > 30) && (res1 < 60)) && (ans2 == "masculino" || ans2 == "Masculino")&& 
            (ans3 =="fisico" || ans3 == "Fisico" || ans3 == "Físico" || ans3 == "físico") && 
            (res4 < 12) && (ans5== "nao" || ans5== "Nao" || ans5== "Não" || ans5== "não")&&
            (ans7== "Manter" || ans7 == "manter")){
    
    
            var result = Math.trunc((((15.1*res6)+692.2)*1.9))
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para manter o seu peso consuma a mesma quantidade calórica que gasta")
        }
     //Ganhar peso
       if (((res1 > 30) && (res1 < 60)) && (ans2 == "masculino" || ans2 == "Masculino") && 
           (ans3 =="fisico" || ans3 == "Fisico" || ans3 == "Físico" || ans3 == "físico") && 
           (res4 < 12) && (ans5== "nao" || ans5== "Nao" || ans5== "Não" || ans5== "não")&&
           (ans7== "Ganhar" || ans7 == "ganhar")){
    
    
           var result = Math.trunc((((15.1*res6)+692.2)*1.9))
           var  result1 = result+500
           words.push("Você gasta em média " + result.toString() + 
           "kcal por dia. Para ganhar peso, distribua pelo menos " + result1.toString() + "kcal na sua alimentação")
       }
     //Perder peso
       if (((res1 > 30) && (res1 < 60)) && (ans2 == "masculino" || ans2 == "Masculino") && 
           (ans3 =="fisico" || ans3 == "Fisico" || ans3 == "Físico" || ans3 == "físico") && 
           (res4 < 12) && (ans5== "nao" || ans5== "Nao" || ans5== "Não" || ans5== "não")&&
           (ans7== "Perder" || ans7 == "perder")){
    
    
           var result = Math.trunc((((15.1*res6)+692.2)*1.9))
           var  result1 = result-500
           words.push("Você gasta em média " + result.toString() + 
           "kcal por dia. Para perder peso consuma em média " + result1.toString() + "kcal por dia")
       }
    
    
    
    
        // Homens entre 30-60
    
        // Manter o peso
        if (((res1 > 30) && (res1 < 60)) && (ans2 == "masculino" || ans2 == "Masculino") && 
            (ans3 =="sentado" || ans3 == "Sentado" || ans3 == "Sentada" || ans3 == "sentada") && 
            (res4 < 12) && (ans5== "sim" || ans5== "Sim") &&
            (ans7== "manter" || ans7 == "Manter")){
            
            var result = Math.trunc((((11.5*res6)+873.1)*1.84))
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para manter o seu peso consuma a mesma quantidade calórica que gasta")
        }
        // Ganhar peso
        if (((res1 > 30) && (res1 < 60)) && (ans2 == "masculino" || ans2 == "Masculino") && 
            (ans3 =="sentado" || ans3 == "Sentado" || ans3 == "Sentada" || ans3 == "sentada") && 
            (res4 < 12) && (ans5== "sim" || ans5== "Sim") &&
            (ans7== "Ganhar" || ans7 == "ganhar")){
        
            var result = Math.trunc((((11.5*res6)+873.1)*1.84))
            var  result1 = result+500
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para ganhar peso, distribua pelo menos " + result1.toString() + "kcal na sua alimentação")
       }
       // Perder peso
       if (((res1 > 30) && (res1 < 60)) && (ans2 == "masculino" || ans2 == "Masculino") && 
            (ans3 =="sentado" || ans3 == "Sentado" || ans3 == "Sentada" || ans3 == "sentada") && 
            (res4 < 12) && (ans5== "sim" || ans5== "Sim") &&
            (ans7== "perder" || ans7 == "Perder")){
        
            var result = Math.trunc((((11.5*res6)+873.1)*1.84))
            var  result1 = result-500
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para perder peso consuma em média " + result1.toString() + "kcal por dia")
       }
    
    
    
        // Manter o perso 
        if (((res1 > 30) && (res1 < 60)) && (ans2 == "masculino" || ans2 == "Masculino") && 
            (ans3 =="sentado" || ans3 == "Sentado" || ans3 == "Sentada" || ans3 == "sentada") && 
            (res4 < 12) && (ans5== "nao" || ans5== "Nao" || ans5== "Não" || ans5== "não")&&
            (ans7== "manter" || ans7 == "Manter")){
    
            var result = Math.trunc((((11.5*res6)+873.1)*1.55))
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para manter o seu peso consuma a mesma quantidade calórica que gasta")
        }
        // Ganhar peso
        if (((res1 > 30) && (res1 < 60)) && (ans2 == "masculino" || ans2 == "Masculino") && 
            (ans3 =="sentado" || ans3 == "Sentado" || ans3 == "Sentada" || ans3 == "sentada") && 
            (res4 < 12) && (ans5== "nao" || ans5== "Nao" || ans5== "Não" || ans5== "não")&&
            (ans7== "ganhar" || ans7 == "Ganhar")){
    
            var result = Math.trunc((((11.5*res6)+873.1)*1.55))
            var  result1 = result+500
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para ganhar peso, distribua pelo menos " + result1.toString() + "kcal na sua alimentação")
        }
        // Perder peso
        if (((res1 > 30) && (res1 < 60)) && (ans2 == "masculino" || ans2 == "Masculino") && 
            (ans3 =="sentado" || ans3 == "Sentado" || ans3 == "Sentada" || ans3 == "sentada") && 
            (res4 < 12) && (ans5== "nao" || ans5== "Nao" || ans5== "Não" || ans5== "não")&&
            (ans7== "perder" || ans7 == "Perder")){
    
            var result = Math.trunc((((11.5*res6)+873.1)*1.55))
            var  result1 = result-500
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para perder peso consuma em média " + result1.toString() + "kcal por dia")
        }
    
  
    
        // Manter peso
        if (((res1 > 30) && (res1 < 60)) && (ans2 == "masculino" || ans2 == "Masculino") && 
            (ans3 =="fisico" || ans3 == "Fisico" || ans3 == "Físico" || ans3 == "físico") && 
            (res4 < 12) && (ans5== "sim" || ans5== "Sim")&&
            (ans7== "Manter" || ans7 == "manter")){
    
            var result = Math.trunc((((11.5*res6)+873.1)*2.2))
            words.push("Você gasta em média " + result.toString() + 
            " calorias por dia. Para manter o seu peso consuma a mesma quantidade calórica que gasta")
        }
        //Ganhar peso
        if (((res1 > 30) && (res1 < 60)) && (ans2 == "masculino" || ans2 == "Masculino") && 
            (ans3 =="fisico" || ans3 == "Fisico" || ans3 == "Físico" || ans3 == "físico") && 
            (res4 < 12) && (ans5== "sim" || ans5== "Sim")&&
            (ans7== "Ganhar" || ans7 == "ganhar")){
    
            var result = Math.trunc((((11.5*res6)+873.1)*2.2))
            var  result1 = result+500
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para ganhar peso, distribua pelo menos " + result1.toString() + "kcal na sua alimentação")
        }
        //Perder peso
        if (((res1 > 30) && (res1 < 60)) && (ans2 == "masculino" || ans2 == "Masculino") && 
            (ans3 =="fisico" || ans3 == "Fisico" || ans3 == "Físico" || ans3 == "físico") && 
            (res4 < 12) && (ans5== "sim" || ans5== "Sim")&&
            (ans7== "Perder" || ans7 == "perder")){
    
            var result = Math.trunc((((11.5*res6)+873.1)*2.2))
            var  result1 = result-500
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para perder peso consuma em média " + result1.toString() + "kcal por dia")
       }
    

    
         // Manter peso 
        if (((res1 > 30) && (res1 < 60)) && (ans2 == "masculino" || ans2 == "Masculino") && 
            (ans3 =="fisico" || ans3 == "Fisico" || ans3 == "Físico" || ans3 == "físico") && 
            (res4 < 12) && (ans5== "nao" || ans5== "Nao" || ans5== "Não" || ans5== "não")&&
            (ans7== "Manter" || ans7 == "manter")){
    
    
            var result = Math.trunc((((11.5*res6)+873.1)*1.9))
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para manter o seu peso consuma a mesma quantidade calórica que gasta")
        }
        if (((res1 > 30) && (res1 < 60)) && (ans2 == "masculino" || ans2 == "Masculino") && 
           (ans3 =="fisico" || ans3 == "Fisico" || ans3 == "Físico" || ans3 == "físico") && 
           (res4 < 12) && (ans5== "nao" || ans5== "Nao" || ans5== "Não" || ans5== "não")&&
           (ans7== "Ganhar" || ans7 == "ganhar")){
    
    
           var result = Math.trunc((((11.5*res6)+873.1)*1.9))
           var  result1 = result+500
           words.push("Você gasta em média " + result.toString() + 
           "kcal por dia. Para ganhar peso, distribua pelo menos " + result1.toString() + "kcal na sua alimentação")
       }
     //Perder peso
       if (((res1 > 30) && (res1 < 60)) && (ans2 == "masculino" || ans2 == "Masculino") && 
           (ans3 =="fisico" || ans3 == "Fisico" || ans3 == "Físico" || ans3 == "físico") && 
           (res4 < 12) && (ans5== "nao" || ans5== "Nao" || ans5== "Não" || ans5== "não")&&
           (ans7== "Perder" || ans7 == "perder")){
    
    
           var result = Math.trunc((((11.5*res6)+873.1)*1.9))
           var  result1 = result-500
           words.push("Você gasta em média " + result.toString() + 
           "kcal por dia. Para perder peso consuma em média " + result1.toString() + "kcal por dia")
       }
        
    
    
        //Homem a cima dos 60
    
        //Manter o peso
        if (((res1 >= 60)) && (ans2 == "masculino" || ans2 == "Masculino") && 
            (ans3 =="sentado" || ans3 == "Sentado" || ans3 == "Sentada" || ans3 == "sentada") && 
            (res4 < 12) && (ans5== "sim" || ans5== "Sim")&&
            (ans7== "Manter" || ans7 == "manter")){
            
            var result = Math.trunc((((11.71*res6)+587.7)*1.84))
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para manter o seu peso consuma a mesma quantidade calórica que gasta")
        }
        // Ganhar peso
        if (((res1 >= 60)) && (ans2 == "masculino" || ans2 == "Masculino") && 
            (ans3 =="sentado" || ans3 == "Sentado" || ans3 == "Sentada" || ans3 == "sentada") && 
            (res4 < 12) && (ans5== "sim" || ans5== "Sim")&&
            (ans7== "Ganhar" || ans7 == "ganhar")){
            
            var result = Math.trunc((((11.71*res6)+587.7)*1.84))
            var  result1 = result+500
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para ganhar peso, distribua pelo menos " + result1.toString() + "kcal na sua alimentação")
        }
        // Perder peso
        if (((res1 >= 60)) && (ans2 == "masculino" || ans2 == "Masculino") && 
            (ans3 =="sentado" || ans3 == "Sentado" || ans3 == "Sentada" || ans3 == "sentada") && 
            (res4 < 12) && (ans5== "sim" || ans5== "Sim")&&
            (ans7== "Perder" || ans7 == "perder")){
         
            var result = Math.trunc((((11.71*res6)+587.7)*1.84))
            var  result1 = result-500
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para perder peso consuma em média " + result1.toString() + "kcal por dia")
        }
    
    

    
        // Manter o peso
        if (((res1 >= 60)) && (ans2 == "masculino" || ans2 == "Masculino") && 
            (ans3 =="sentado" || ans3 == "Sentado" || ans3 == "Sentada" || ans3 == "sentada") && 
            (res4 < 12) && (ans5== "nao" || ans5== "Nao" || ans5== "Não" || ans5== "não")&&
            (ans7== "Manter" || ans7 == "manter")){
    
            var result = Math.trunc((((11.71*res6)+587.7)*1.55))
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para manter o seu peso consuma a mesma quantidade calórica que gasta")
        }
        // Ganhar o peso
        if (((res1 >= 60)) && (ans2 == "masculino" || ans2 == "Masculino") && 
            (ans3 =="sentado" || ans3 == "Sentado" || ans3 == "Sentada" || ans3 == "sentada") && 
            (res4 < 12) && (ans5== "nao" || ans5== "Nao" || ans5== "Não" || ans5== "não")&&
            (ans7== "Ganhar" || ans7 == "ganhar")){
    
            var result = Math.trunc((((11.71*res6)+587.7)*1.55))
            var  result1 = result+500
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para ganhar peso, distribua pelo menos " + result1.toString() + "kcal na sua alimentação")
        }
        // Perder  o peso
        if (((res1 >= 60)) && (ans2 == "masculino" || ans2 == "Masculino") && 
            (ans3 =="sentado" || ans3 == "Sentado" || ans3 == "Sentada" || ans3 == "sentada") && 
            (res4 < 12) && (ans5== "nao" || ans5== "Nao" || ans5== "Não" || ans5== "não")&&
            (ans7== "Perder" || ans7 == "perder")){
    
            var result = Math.trunc((((11.71*res6)+587.7)*1.55))
            var  result1 = result-500
            words.push("Você gasta em média " + result.toString() +
            "kcal por dia. Para perder peso consuma em média " + result1.toString() + "kcal por dia")
        }
    
    
    
    
         // Manter peso
        if (((res1 >= 60)) && (ans2 == "masculino" || ans2 == "Masculino") && 
            (ans3 =="fisico" || ans3 == "Fisico" || ans3 == "Físico" || ans3 == "físico") && 
            (res4 < 12) && (ans5== "sim" || ans5== "Sim")&&
            (ans7== "Manter" || ans7 == "manter")){
    
         var result = Math.trunc((((11.71*res6)+587.7)*2.2))
         words.push("Você gasta em média " + result.toString() + 
         "kcal por dia. Para manter o seu peso consuma a mesma quantidade calórica que gasta")
       }
     // Ganahr peso
       if (((res1 >= 60)) && (ans2 == "masculino" || ans2 == "Masculino") && 
           (ans3 =="fisico" || ans3 == "Fisico" || ans3 == "Físico" || ans3 == "físico") && 
           (res4 < 12) && (ans5== "sim" || ans5== "Sim")&&
           (ans7== "Ganhar" || ans7 == "ganhar")){
    
           var result = Math.trunc((((11.71*res6)+587.7)*2.2))
           var  result1 = result+500
           words.push("Você gasta em média " + result.toString() + 
           "kcal por dia. Para ganhar peso, distribua pelo menos " + result1.toString() + "kcal na sua alimentação")
     }
     // Perder peso
       if (((res1 >= 60)) && (ans2 == "masculino" || ans2 == "Masculino") && 
           (ans3 =="fisico" || ans3 == "Fisico" || ans3 == "Físico" || ans3 == "físico") && 
           (res4 < 12) && (ans5== "sim" || ans5== "Sim")&&
           (ans7== "Perder" || ans7 == "perder")){
    
           var result = Math.trunc((((11.71*res6)+587.7)*2.2))
           var  result1 = result-500
           words.push("Você gasta em média " + result.toString() + 
           "kcal por dia. Para perder peso consuma em média " + result1.toString() + "kcal por dia")
        }
    
        
       
         // Manter o peso
        if (((res1 >= 60)) && (ans2 == "masculino" || ans2 == "Masculino") && 
            (ans3 =="fisico" || ans3 == "Fisico" || ans3 == "Físico" || ans3 == "físico") && 
            (res4 < 12) && (ans5== "nao" || ans5== "Nao" || ans5== "Não" || ans5== "não")&&
            (ans7== "Manter" || ans7 == "manter")){
    
            var result = Math.trunc((((11.71*res6)+587.7)*1.9))
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para manter o seu peso consuma a mesma quantidade calórica que gasta")
       }
     // Ganhar o peso
        if (((res1 >= 60)) && (ans2 == "masculino" || ans2 == "Masculino") && 
            (ans3 =="fisico" || ans3 == "Fisico" || ans3 == "Físico" || ans3 == "físico") && 
            (res4 < 12) && (ans5== "nao" || ans5== "Nao" || ans5== "Não" || ans5== "não")&&
            (ans7== "Ganhar" || ans7 == "ganhar")){
    
            var result = Math.trunc((((11.71*res6)+587.7)*1.9))
            var  result1 = result+500
            words.push("Você gasta em média " + result.toString() + 
            "kcal por dia. Para ganhar peso, distribua pelo menos " + result1.toString() + "kcal na sua alimentação")
       }
     // Perder o peso
       if (((res1 >= 60)) && (ans2 == "masculino" || ans2 == "Masculino") && 
           (ans3 =="fisico" || ans3 == "Fisico" || ans3 == "Físico" || ans3 == "físico") && 
           (res4 < 12) && (ans5== "nao" || ans5== "Nao" || ans5== "Não" || ans5== "não")&&
           (ans7== "Ganhar" || ans7 == "ganhar")){
    
           var result = Math.trunc((((11.71*res6)+587.7)*1.9))
           var  result1 = result-500
           words.push("Você gasta em média " + result.toString() + 
           "kcal por dia. Para perder peso consuma em média " + result1.toString() + "kcal por dia")
       }
       
    
    
        
       
    }
    
        
        const dynamicText = document.querySelector("h1 span")
  
        // Variables to track the position and deletion status of the word
        let wordIndex = 0;
        let charIndex = 0;
        let isDeleting = false;
        
        const typeEffect = () => {
            const currentWord = words[wordIndex];
            const currentChar = currentWord.substring(0, charIndex);
            dynamicText.textContent = currentChar;
            dynamicText.classList.add("stop-blinking");
        
            if (!isDeleting && charIndex < currentWord.length) {
                // If condition is true, type the next character
                charIndex++;
                setTimeout(typeEffect, 100);
            } else if (isDeleting && charIndex > 0) {
                // If condition is true, remove the previous character
                charIndex--;
                setTimeout(typeEffect, 40);
            } else {
                // If word is deleted then switch to the next word
                isDeleting = !isDeleting;
                dynamicText.classList.remove("stop-blinking");
                wordIndex = !isDeleting ? (wordIndex + 1) % words.length : wordIndex;
                setTimeout(typeEffect, 15000);
            }
        }
        
        typeEffect();



                
                    
    </script>
        
            
        

            
</body>
</html>
